$color-black-real: #000;
$color-white-real: #fff;

$color-black: #666;
$color-white: $color-white-real;

$color-blue: #1a326f;
$color-yellow: #f5e883;
$color-cyan: #34fcfd;

@mixin neg {
  -webkit-font-smoothing: antialiased;
}
