#moreinfo.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        h2.text-center The astronaut needs to return to her&nbsp;spaceship
        p.lead.text-center
          | Slide the astronaut and the robosatellites to make them float
          | up, right, left, or down. They can only float in a direction
          | if someone is in the way and can catch them.
          br
        p.lead.text-center
          | Reload to get a new set of puzzles!
        .text-center.mt-4.mb-2
          img(src='assets/img/zitrus.png', style='width: 60px;')
        p.imaginary-info.text-center
          | This game was built by IMAGINARY, a traveling exhibition that shows mathematics can be beautiful,
          | interactive, something you can touch, or a way to explore remote galaxies with your mind.
          | It has visited over 66 countries since 2007.
          |
        p.text-center
          a(href='http://about.imaginary.org') Learn more about IMAGINARY
        p.credits-info.text-center
          | Space Rescue is inspired by Hiroshi Yamamoto's game.
          br
          | Created using
          |
          a(href='https://cindyjs.org') CindyJS
          |
          | by Jürgen Richter-Gebert.
        button.close(type='button', data-dismiss='modal')
          span &times;
